<section class="utopia-widget">
    <div class="utopia-widget-title">
        <span>Bucket Log</span>
    </div>
    <div class="utopia-widget-content">
        <% if (data.activities.length == 0) { %>
            <div class="alert alert-info">There has been no activity on this recruit.</div>
        <% } %>
        <% _.each(data.activities, function(activity, i) { %>
            <% if (i != 0) { %> <hr/> <% } %>
            <p>
                <h4><span class="label label-success"><%= activity.interviewerUsername %></span> <%= activity.description %></h4>
                <h6><%= activity.creationTime %></h6>
            </p>
        <% }); %>
    </div>
</section>