<section class="utopia-widget recruit-info">
    <div class="utopia-widget-title">
        <a id="add-document" class="btn btn-mini" href="#"><img src="/img/icons/document.png" title="document"> Add Document</a>
        <span>Documents</span>
    </div>
    <div class="utopia-widget-content  documents">
        <% if (data.documents.length == 0) { %>
            <div class="alert alert-info">No documents have been uploaded.</div>
        <% } %>

        <% _.each(data.documents, function(document, i) { %>
            <% if (i != 0) { %> <hr/> <% } %>
            <p>
                <h4><img src="/img/icons2/document.png" class="utopia-icons2-small-img" title="document"> <a href="/api/document/view/<%= document.fileId %>" target="_blank"><%= document.filename %></a></h4>
                <h6><%= document.creationTime %></h6>
            </p>
        <% }); %>

    </div>
</section>