<section class="utopia-widget recruit-info">
    <div class="utopia-widget-title">
        <a class="btn btn-mini" href="#/recruit/<%= data.recruit.id %>/review"><img src="/img/icons/document.png" title="review"> Add Review</a>
        <span>Reviews</span>
    </div>
    <div class="utopia-widget-content">
        <% if (data.reviews.length == 0) { %>
            <div class="alert alert-info">No reviews have been added.</div>
        <% } %>
        <% _.each(data.reviews, function(review, i) { %>
            <% if (i != 0) { %> <hr/> <% } %>
            <p>
                <h4><%= (review.type == 'RESUME') ? '<b>Resume Review</b>' : 'Interview'%> completed by Sean Shelby</h4>
                <h6><%= review.creationTime %></h6>
            </p>
        <% }); %>
    </div>
</section>