<div class="modal hide fade">
    <form id="validation" method="post" class="form-horizontal" >
    <div class="modal-body">
        <div class="alert alert-error hide">
            <strong>Hmmm...</strong> Double check your username and password and try submitting again.
        </div>
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="question">Question:</label>

                <div class="controls">
                    <textarea class="input-xlarge" id="question" name="question" rows="4"></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="category">Category:</label>

                <div class="controls sample-form-chosen">
                    <select id="category" name="category" data-placeholder="Select your category" style="width:82.5%;">
                        <option value="SMART">Smart</option>
                        <option value="MOTIVATED">Motivated</option>
                        <option value="GETS_ALONG">Gets Along</option>
                    </select>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
    </form>
</div>