<div class="modal hide fade">
    <div class="modal-body">
        <div class="alert alert-error hide">
            <strong>Hmmm...</strong> Double check your username and password and try submitting again.
        </div>
        <div class="tabbable form-horizontal">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab1" data-toggle="tab">Basic</a>
                </li>
                <li>
                    <a href="#tab2" data-toggle="tab">School Info</a>
                </li>
                <li>
                    <a href="#tab3" data-toggle="tab">Extra</a>
                </li>
            </ul>
            <div class="tab-content" style="padding-bottom: 9px;">
                <div class="tab-pane active" id="tab1">
                    <div class="control-group">
                        <label class="control-label" for="input01">First Name*:</label>
                        <div class="controls">
                            <input id="input01" class="input-fluid validate[required]" type="text" name="firstName" value="<%= firstName %>">
                        </div>
                    </div>
    
                    <div class="control-group">
                        <label class="control-label" for="inputError">Last Name*:</label>
                        <div class="controls">
                            <input id="inputError" class="input-fluid validate[required,custom[email]]" type="text" name="lastName" value="<%= lastName %>">
                            <br>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="email">Email:</label>
                        <div class="controls">
                            <input id="email" class="input-fluid validate[required,custom[email]]" type="text" name="email" value="<%= email %>">
                            <br>
                        </div>
                    </div>
                    
                    <div class="control-group">
                        <label class="control-label" for="phoneNumber">Phone Number:</label>
                        <div class="controls">
                            <input id="phoneNumber" class="input-fluid" type="text" name="phoneNumber" value="<%= phoneNumber %>">
                            <br>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="selectStage">Stage:</label>
                        <div class="controls sample-form-chosen">
                            <select id="selectStage" name="stage" style="width:250px;">
                                <option value="IDENTIFICATION" <% if (stage == 'IDENTIFICATION') { %>selected="selected" <% } %>>Indentification</option>
                                <option value="EVALUATION" <% if (stage == 'EVALUATION') { %>selected="selected" <% } %>>Evaluation</option>
                                <option value="AQUISITION" <% if (stage == 'AQUISITION') { %>selected="selected" <% } %>>Aquisition</option>
                                <option value="ONBOARDING" <% if (stage == 'ONBOARDING') { %>selected="selected" <% } %>>On-Boarding</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab2">
                    <div class="control-group">
                        <label class="control-label" for="selectSchool">School*:</label>
                        <div class="controls sample-form-chosen">
                            <select id="selectSchool" name="school" style="width: 250px;" class="chzn-select-deselect">
                                <option value=""></option>
                                <option value="Harvard" <% if (school == 'Harvard') { %>selected="selected" <% } %>>Harvard</option>
                                <option value="Yale" <% if (school == 'Yale') { %>selected="selected" <% } %>>Yale</option>
                                <option value="Princeton" <% if (school == 'Princeton') { %>selected="selected" <% } %>>Princeton</option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="gpa">Major:</label>
                        <div class="controls">
                            <!--
                            <input type="text" name="tag[]" value="" class="show-tags"/>
                            <input type="text" name="tag[19-a]" value="Merlin" class="show-tags"/>
                            <input type="text" name="tag[15-d]" value="Little Owl" class="show-tags"/>
                            -->
                            <input id="major" class="input-fluid" type="text" name="major" value="<%= major %>">
                        </div>
                    </div>
                    
                    <div class="control-group">
                        <label class="control-label" for="gpa">GPA:</label>
                        <div class="controls">
                            <input id="gpa" class="input-fluid" type="text" name="gpa" value="<%= gpa %>">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab3">
                    <div class="control-group">
                        <label class="control-label" for="email">Hometown:</label>
                        <div class="controls">
                            <input id="email" class="input-fluid validate[required,custom[email]]" type="text" name="email" value="<%= email %>">
                            <br>
                        </div>
                    </div>
                    
                    <div class="control-group">
                        <label class="control-label" for="input01">Foreign Languages:</label>
                        <div class="controls">
                            <input id="input01" class="input-fluid validate[required]" type="text" name="firstName" value="<%= firstName %>">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>