<section class="utopia-widget">
    <div class="utopia-widget-title">
        <a class="btn btn-primary btn-small x-add-question" href="#"><i class="icon-question-sign icon-white"></i> Add Question</a>
        <img src="/img/icons/paragraph_justify.png" class="utopia-widget-icon">
        <span>All Questions</span>
    </div>

    <div class="utopia-widget-content">

        <table class="table table-bordered">

            <colgroup>
                <col class="utopia-col-0">
                <col class="utopia-col-1">
                <col class="utopia-col-0">
            </colgroup>

            <thead>
            <tr>
                <th>Question</th>
                <th>Category</th>
                <th style="width: 100px">Actions</th>
            </tr>
            </thead>

            <tbody>
                <% _.each(data.questions, function(question, i) { %>
                    <tr>
                        <td><%= question.question%></td>
                        <td><%= question.category%></td>
                        <td>
                            <a href="javascript:void(0)" class="edit"><img src="/img/icons/pencil.png" alt="Edit"></a>
                            <a href="javascript:void(0)" class="delete"><img src="/img/icons/trash_can.png" alt="Delete"></a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>

    </div>
</section>