<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>
                <a href="#/recruits">Recuits</a><span class="divider">/</span>
            </li>
            <li>
                <a href="#/recruit/<%= data.recruit.id %>"><%= data.recruit.firstName %> <%= data.recruit.lastName %></a><span class="divider">/</span>
            </li>
            <li class="active">
                Review
            </li>
        </ul>
        <section class="utopia-widget">

            <div class="utopia-widget-content recruit-body">

                <form class="form-horizontal">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label">Review Type</label>
                            <div class="controls">
                                <div class="btn-group">
                                    <button class="btn">
                                        Resume Review
                                    </button>
                                    <button class="btn">
                                        Phone Interview
                                    </button>
                                    <button class="btn">
                                        Face-to-Face Interview
                                    </button>
                                </div>
                            </div>
                            <input type="hidden" name="type" value="RESUME" />
                        </div>
                        <div class="control-group">
                            <label class="control-label">Interviewer</label>
                            <div class="controls sample-form-chosen">
                                <select id="select02" name="interviewerId" data-placeholder="Select your category" style="width:82.5%;" class="chzn-select-deselect" tabindex="7">
                                    <option value=""></option>
                                    <option value="501884b750628f76d8862a79">Adam Scherer</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Form grid sizes</label>
                            <div class="controls docs-input-sizes">
                                <input class="span1" type="text" placeholder=".span1">
                                <input class="span2" type="text" placeholder=".span2">
                                <input class="span3" type="text" placeholder=".span3">
                                <select class="span1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <select class="span2">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <select class="span3">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <p class="help-block">
                                    Use the same <code>
                                        .span*</code>
                                    classes from the grid system for input sizes.
                                </p>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">
                                Save changes
                            </button>
                            <a class="btn" href="#/recruit/<%= data.recruit.id %>">
                                Cancel
                            </a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </section>
    </div>
</div>