<section class="utopia-widget">
    <div class="utopia-widget-title">
        <a class="btn btn-mini x-add-recruit" href="#"><img src="/img/icons/user.png" title="user"> Add Recruit</a>
        <img src="/img/icons/user.png" class="utopia-widget-icon">
        <span>Top Active Recruits</span>
    </div>

    <div class="utopia-widget-content">
        <table class="table table-bordered">

            <colgroup>
                <col class="utopia-col-0">
                <col class="utopia-col-1">
                <col class="utopia-col-0">
            </colgroup>

            <thead>
                <tr>
                    <th>Name</th>
                    <th>Stage</th>
                    <th>Bucket Score</th>
                </tr>
            </thead>

            <tbody>
                <% _.each(data.recruits, function(recruit, i) { %>
                <tr>
                    <td><a href="#/recruit/<%= recruit.id%>"><%= recruit.firstName%> <%= recruit.lastName%></a></a></td>
                    <td><%= recruit.stage%></td>
                    <td><span class="badge badge-warning"><%= recruit.bucketScore.toFixed(2)%></span></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>

</section>